@model CourtListRelatedDto

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
	if (TempData["Upload_Message"] != null)
	{
		<div class="bg-primary text-white text-center lead">
			@TempData["Upload_Message"]
		</div>
	}
}

<!-- Basic layout-->
<div class="card">
	<div class="card-header">
		<h5 class="card-title">Saha Detayları</h5>
	</div>

	<div class="card-body">

		<input type="hidden" asp-for="@Model.Id"/>

		<div class="form-group">
			<label>Saha Adı:</label>
			<input asp-for="@Model.Name" type="text" class="form-control" disabled>
		</div>

		<div class="form-group">
			<label>Saha Tipi:</label>
			<input asp-for="@Model.CourtTypeName" type="text" class="form-control" disabled>
		</div>

		<div class="form-group">
			<label>Kayıt Tarihi: </label>
			<input asp-for="@Model.SaveDate" type="text" class="form-control" disabled>
		</div>

	</div>
</div>
<!-- /basic layout -->


@section Scripts{
<script src="~/limitless/global_assets/js/plugins/forms/selects/select2.min.js"></script>
<script src="~/limitless/global_assets/js/demo_pages/form_layouts.js"></script>
}